<table>
<colgroup>
<col width="11%" />
<col width="32%" />
<col width="56%" />
</colgroup>
<thead>
<tr class="header">
<th align="left">Date</th>
<th align="left">Class</th>
<th align="left">Topics</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left"><p>Jan. 25</p></td>
<td align="left"><p>Setup, Intro &amp; numpy</p></td>
<td align="left"><ul>
<li>Intro to course</li>
<li><a href="http://goo.gl/m0Y6r4">Analyzing patient data</a></li>
</ul></td>
</tr>
<tr class="even">
<td align="left"><p>Jan. 27</p></td>
<td align="left"><p>Lab: Intro &amp; numpy</p></td>
<td align="left"><ul>
<li>Programming workbook</li>
<li>Assignment</li>
</ul></td>
</tr>
<tr class="odd">
<td align="left"><p>Feb. 1</p></td>
<td align="left"><p>Loops, lists &amp; functions</p></td>
<td align="left"><ul>
<li><a href="http://goo.gl/1oAu1Z">Repeating actions with loops</a></li>
<li><a href="http://goo.gl/fV1L2F">Storing multiple values in lists</a></li>
<li><a href="http://goo.gl/R4zvnl">Creating functions</a></li>
</ul></td>
</tr>
<tr class="even">
<td align="left"><p>Feb. 3</p></td>
<td align="left"><p>Lab: Loops, lists &amp; functions</p></td>
<td align="left"><ul>
<li><a href="http://goo.gl/d3RDVq">Workbook &amp; answers</a> (<a href="http://goo.gl/BEugWC">ipynb</a>) &amp; <a href="http://goo.gl/3fFlk1">assignment</a> (<a href="http://goo.gl/iizHL8">ipynb</a>)</li>
</ul></td>
</tr>
<tr class="odd">
<td align="left"><p>Feb. 8</p></td>
<td align="left"><p>Pandas and using functions</p></td>
<td align="left"><ul>
<li><a href="http://goo.gl/CgzhPE">Modularization</a></li>
<li><a href="http://ucsdlib.github.io/win2016-python-gps/mosquito-data.zip">Msoquito data</a></li>
<li>Jupiter Notebooks:</li>
</ul>
<ol style="list-style-type: decimal">
<li>Pandas: <a href="http://goo.gl/iS0giS">as html</a>, <a href="http://goo.gl/vOdrwu">ipynb</a></li>
<li>Functions: <a href="http://goo.gl/CKxZzn">as html</a>, <a href="http://goo.gl/pZGSji">ipynb</a></li>
<li>Using function: <a href="http://goo.gl/Ila8Lp">as html</a>, <a href="http://goo.gl/oFN0fa">ipynb</a></li>
</ol></td>
</tr>
<tr class="even">
<td align="left"><p>Feb. 10</p></td>
<td align="left"><p>Lab: Pandas &amp; using functions</p></td>
<td align="left"><ul>
<li>Wrap-up</li>
<li><a href="http://goo.gl/KxwsJT">Workbook &amp; answers</a> (<a href="http://goo.gl/kpvSsI">ipynb</a>) &amp; <a href="http://goo.gl/xuNAQi">assignment</a> (<a href="http://goo.gl/8H34Qr">ipynb</a>)</li>
</ul></td>
</tr>
</tbody>
</table>
